body {
  min-width: 340px;
}

body,
body p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  margin: 30px 0px;
}

body h1,
body h2,
body h3,
body h4 {
  font-weight: 200;
  margin: 30px 0px 20px;
}

body .navbar {
  border: 0px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: none;
  background: none;
}

body .navbar {
  font-size: 16px;
  font-weight: 200;
}

body .navbar-text:first-child {
  margin-left: 5px;
}

body .navbar-text:last-child {
  margin-right: 20px;
}

#content > #right > .dose > .dosesingle,
#content > #center > .dose > .dosesingle
{
  display:none !important;
}

.post {
  text-align: justify;
}

.post img {
}

.post iframe {
  border: 0px;
  /*height: 400px;*/
  overflow: hidden;
}

ol, ul {
  margin-left: 0;
  padding-left: 17px;
}

.post .hljs {
  background: none;
}


