/*--------------------------------------------------------------------
*
* $VARIABLES
*
--------------------------------------------------------------------*/

$brand-blue = #083b54
$brand-teal = #6acad1

$accent-teal = #469ea2
$accent-red = #f05135
$accent-gold = #f59223