.entry
  max-width: 700px
  margin: 0 auto

  p
    font-size: 18px

  .entry-title
    font-size: 36px

  &:after
    content: ""
    width: 50px
    height: 3px
    border-radius: 3px
    background: $brand-teal
    display: block
    margin: 100px auto

  &:last-child:after
    display: none

  .entry-content
    h1, h2, h3, h4
      font-size: 24px

.blog header, .blog footer
  max-width: 700px
  margin: 0 auto 10px auto

.entry-content
  max-width: 700px
  margin: 0 auto

.paginator
  text-align: center
  font-size: 18px

.blog pre
  font-size: 13px
