/*--------------------------------------------------------------------
*
* CODE SNIPPETS
*
--------------------------------------------------------------------*/

pre, code
  background: $gray-lighter