/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

.footer-primary
  padding: 50px 0
  background: $brand-blue
  color: white
  margin-top: 60px

  .container > div
    display: inline-block
    vertical-align: top
    box-sizing: border-box

  .grid-flex-container
    margin-bottom: 0

.sitemap-menu
  width: 60%

.share-links
  width: 40%
  text-align: right

ul.sitemap
  li
    font-weight: 200
    font-style: normal
  li.sitemap-head
    font-weight: 400
    font-style: normal
    text-transform: uppercase
    letter-spacing: 1px