/*--------------------------------------------------------------------
*
* $HEADER
*
--------------------------------------------------------------------*/

header
  // background: $brand-blue
  background: rgba($blue-space,1)
  padding-top: 20px
  position: relative
  margin-bottom: 60px

  h1
    position: relative
    z-index: 2

.header-has-logo > canvas
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1

.hero
  text-align: center
  color: white
  width: 100%

  h2
    color: white
    font-weight: 200
    font-style: normal
    margin-bottom: 20px
    font-size: 40px
    position: relative
    z-index: 2
    // text-shadow: 0 0 10px rgba($blue-space,1), 0 0 25px rgba($blue-space,.5), 0 0 50px rgba($blue-space,.3), 0 0 80px rgba($blue-space,.1)
    text-shadow: 0 0 50px rgba($blue-space,1)

  h3
    color: white
    font-weight: 200
    font-style: normal
    margin-top: 15px
    font-size: 22px
    line-height: 150%
    position: relative
    z-index: 2
    // text-shadow: 0 0 10px rgba(8,59,84,1), 0 0 25px rgba(8,59,84,.5), 0 0 50px rgba(8,59,84,.3), 0 0 80px

.hero-text
  padding: 160px 0 80px 0
  background-image: url(/theme/images/hero-text-bg.png)
  background-position: center
  background-repeat: no-repeat
  background-size: 100%
  position: relative
  z-index: 2

.hero-home
  min-height: 480px
  z-index: 2

.hero-major
  min-height: 280px
  padding-top: 100px
  z-index: 2

.divider
  width: 50px
  height: 3px
  border-radius: 3px
  background: $brand-teal
  display: block
  margin: 0 auto 0 auto

.cta .button
  position: relative
  z-index: 2
  margin: 0 5px
  background-color: rgba($blue-space,1)

.constellation
  width: 120px

.view-more

  label
    text-indent: 100%
    white-space: nowrap
    overflow: hidden
    z-index: 2

  a
    position: absolute
    content: ''
    bottom: 30px
    left: 0
    z-index: 2

    height: 23px
    width: 100%

    background: url("/theme/images/down-arrow-01.svg")
    background-position: center
    background-repeat: no-repeat

    &:hover
      opacity: .75

    display: none

@media screen and (max-width: $breakpoint-desktop)

  .hero
    padding: 0 15%
    z-index: 2

@media screen and (max-width: 600px)

  .view-more
    a
      display: block
      z-index: 2

  .hero
    padding: 20px
    z-index: 2

    h2
      font-size: 30px
      z-index: 2

    h3
      font-size: 18px
      z-index: 2
