/*--------------------------------------------------------------------
*
* $HEADER
*
--------------------------------------------------------------------*/

header
  // background: $brand-blue
  background: rgba($blue-space,1)
  padding-top: 20px
  position: relative
  margin-bottom: 60px

  h1
    position: relative
    z-index: 2

body.home
  header
    height: 100vh
    min-height: 550px
    max-height: 1300px

.header-has-logo > canvas
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1

canvas
  image-rendering: optimizeSpeed
  image-rendering: -moz-crisp-edges
  image-rendering: -o-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: optimize-contrast
  image-rendering: crisp-edges
  image-rendering: pixelated
  -ms-interpolation-mode: nearest-neighbor

a.ipfs-logo
  width: 132px
  height: 50px
  display: block
  background: url(/theme/images/ipfs-logo.svg) no-repeat left center
  background-size: contain
  text-indent: -9999em

.hero
  text-align: center
  color: white
  width: 100%

  // TODO: fix this within the template instead
  &:not(.hero-major):not(.hero-home)
    .headline-main
      display: none

  h2
    color: white
    font-weight: 200
    font-style: normal
    margin-bottom: 20px
    font-size: 40px
    position: relative
    z-index: 2
    // text-shadow: 0 0 10px rgba($blue-space,1), 0 0 25px rgba($blue-space,.5), 0 0 50px rgba($blue-space,.3), 0 0 80px rgba($blue-space,.1)
    text-shadow: 0 0 50px rgba($blue-space,1)

  h3
    color: white
    font-weight: 200
    font-style: normal
    margin-top: 15px
    font-size: 22px
    line-height: 150%
    position: relative
    z-index: 2
    // text-shadow: 0 0 10px rgba(8,59,84,1), 0 0 25px rgba(8,59,84,.5), 0 0 50px rgba(8,59,84,.3), 0 0 80px

.hero-text
  margin-top: 15vh
  padding: 130px 0 80px 0
  background-image: url(/theme/images/hero-text-bg.png)
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  position: relative
  z-index: 2

.hero-home
  min-height: 480px
  z-index: 2

.hero-major
  min-height: 280px
  padding-top: 100px
  z-index: 2

.divider
  width: 50px
  height: 3px
  border-radius: 3px
  background: $brand-teal
  display: block
  margin: 0 auto 0 auto

.cta .button
  position: relative
  z-index: 2
  margin: 0 5px
  background-color: rgba($blue-space,1)

.constellation
  width: 120px

.view-more
  display: none

  .home &
    display: block

  label
    text-indent: 100%
    white-space: nowrap
    overflow: hidden
    z-index: 2

  a
    position: absolute
    content: ''
    bottom: 30px
    left: 0
    z-index: 2

    height: 23px
    width: 100%

    background: url("/theme/images/down-arrow-01.svg")
    background-position: center
    background-repeat: no-repeat

    &:hover
      opacity: .75

    display: none

body.article,
body.subdoc
  header canvas
    display: none

@media screen and (max-width: $breakpoint-desktop)

  .hero:not(.hero-major)
    padding: 0 15%
    z-index: 2

@media screen and (max-width: $breakpoint-tablet)

  .hero-text
    margin-top: 0
    padding-top: 80px

  .hero-major
    min-height: 200px
    padding-top: 20px

@media screen and (max-width: $breakpoint-mid-mobile)

  .hero-text
    padding-top: 80px

  .view-more
    a
      display: block
      z-index: 2

  .hero
    padding: 20px
    z-index: 2

    h2
      font-size: 22px
      z-index: 2

    h3
      font-size: 17px
      z-index: 2

  .hero-major
    min-height: 170px
    padding-top: 15px