section
  padding-top: 80px
  &:after
    content: ""
    display: block
    width: 50px
    height: 3px
    border-radius: 3px
    background: $brand-teal
    display: block
    margin: 80px auto 0 auto
  &:last-child:after
    display: none


@media screen and (max-width: $breakpoint-mid-mobile)

  #how .illustration
    height: 180px

@media screen and (max-width: $breakpoint-tablet)

  section:first-of-type
    padding-top: 20px

@media screen and (min-width: $breakpoint-mid-mobile + 1)

  .how-item
    padding: 20px 0

  #how .illustration
    height: 200px

  .how-description
    height: 200px
    padding-top: 70px

@media screen and (min-width: $breakpoint-tablet + 1)

  #how .illustration
    height: 300px

  .how-description
    height: 300px
    padding-top: 110px

  .service-providers
    position: relative
    top: 100px