/*--------------------------------------------------------------------
*
* TYPOGRAPHY
*
--------------------------------------------------------------------*/

body
  font-family: $font-aktiv
  font-weight: 400
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-weight: 200
  font-style: normal

  strong
    font-weight: 400

a
  color: $brand-blue
  &:hover
    color: lighten($brand-blue, 35%)

footer a, header a
  color: $brand-teal
  &:hover
    color: lighten($brand-teal, 35%)

p
  font-size: 14px

h4,h5,h6,p
  margin-bottom: 20px

.wf-inactive
  h1, h2, h3, h4, h5, h6, p, li, a
    opacity: 1

.wf-loading
  h1, h2, h3, h4, h5, h6, p, li, a, .divider
    opacity: 0
    transition: .1s opacity

.wf-active
  h1, h2, h3, h4, h5, h6, p, li, a
    opacity: 1
    transition: .1s opacity
.wf-active
  .hero-home
    h2, .divider, h3
      transition: 2s opacity
    .divider
      transition-delay: .5s
    h3
      transition-delay: 1s
