/*--------------------------------------------------------------------
*
* TYPOGRAPHY
*
--------------------------------------------------------------------*/

body
  font-family: $font-aktiv
  font-weight: 400
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-weight: 200
  font-style: normal

  strong
    font-weight: 400

p a, h2 a, h3 a, h4 a, h5 a, h6 a
  color: lighten($brand-blue, 25%)

  &:hover
    color: lighten($brand-blue, 35%)
    border-bottom: 1px solid lighten($brand-blue, 35%)

footer a, header a
  color: $brand-teal
  &:hover
    color: lighten($brand-teal, 35%)

p
  font-size: 14px

h4,h5,h6,p
  margin-bottom: 20px
