<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" . }}
  {{ range .Keywords }}
    <meta name="keywords" content="{{ . }}" />
  {{ end }}
  {{ range .Params.tags }}
    <meta name="tags" content="{{ . }}" />
  {{ end }}
</head>

<body>
  <section id="content" class="body blog">
    <header>
      <h2 class="entry-title">
        <a href="{{ .URL }}" rel="bookmark" title="Permalink to {{ .Title }}">{{ .Title }}</a></h2>
    </header>
    <footer class="post-info">
      <abbr class="published" title="{{ dateFormat " 2007-04-05T14:30 " .Date }}">
      {{ dateFormat "Wed 01 Jun 2006" .Date }}
    </abbr>
    {{ if isset .Params "lastmod" }}
      <abbr class="modified" title="{{ dateFormat " 2007-04-05T14:30 " .Lastmod }}">
        {{ .Lastmod }}
      </abbr>
    {{ end }}
    {{ if isset .Params "author" }}
      <address class="vcard author">
        By {{ .Params.author }}
        <a class="url fn" href="/TODO">{{ .Params.author }}</a>
      </address>
    {{ end }}
    </footer>
    <!-- /.post-info -->
    <div class="entry-content">
      {{ .Content }}
    </div>
    <!-- /.entry-content -->
  </section>
  <section>
    {{ partial "latest.html" . }}
  </section>
</body>

</html>