<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="icon" href="{{ baseurl }}/styles/img/ipfs-logo-512-ice.png" type="image/png" />

    <title>{{ title }}</title>

    {% block socialgraph %}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{{ baseurl }}/styles/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- font-awesome -->
    <link href="{{ baseurl }}/styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="{{ baseurl }}/styles/style.css" rel="stylesheet" />

    <script type="text/javascript" src="{{ baseurl }}/styles/jquery/jquery.min.js"></script>

    <!-- site specific css -->
    <!--{% if site %}-->
      <link href="{{ baseurl }}/styles/{{site}}.css" rel="stylesheet" />
    <!--{% endif %}-->



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


  <style type="text/css">
  </style>

  <body>
  <meta name="description" content="{{ description }}">
</head>
<body>

<div class="container-fluid ipw-container">
  <div class="ipw-page">

  <!-- header -->
  <div class="row ipw-main-section">
    <div class="col-md-12">
      <!-- top links -->

      <!-- headline -->
      <div class="row">
        <div class="col-xs-12 ipw-main-title">
          {% block splash %}
            <div style="padding: 100px 0px; height: 200px;">
              <div class="ipw-tagline">
                {{ tagline }}
              </div>
            </div>
          {% endblock %}
        </div>
      </div>
      <!-- continue arrow -->
      {% if splashcaret %}
        <div class="row" id="page-content"> <!-- here so the anchor is friendlier -->
          <div class="col-xs-12" style="text-align: center;">
            <a href="#page-content">
              <i class="fa fa-angle-down fa-5x ipw-header-continue-angle"></i>
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </div> <!-- header -->


  <!-- content -->
  <div class="row">
    <div class="col-xs-12">
    {% block content %}
      {{ contents }}
    {% endblock %}
    </div>
  </div>

  {% include "tmpl/partials/footer.html" %}

  </div> <!-- ipw-page -->
</div> <!-- container -->


{% block analytics %}
{% endblock %}

</body>
</html>
