<footer role="contentinfo" class="footer-primary">
  <div class="container cf">
    <div class="sitemap-menu cf">
      <div class="grid-flex-container">
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">IPN</li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
            <li><a>Join</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">IPFS</li>
            <li><a>About</a></li>
            <li><a>Install</a></li>
            <li><a>Docs</a></li>
            <li><a>Code</a></li>
            <li><a>Community</a></li>
            <li><a>Blog</a></li>
            <li><a>Legal</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">Filecoin</li>
            <li><a>About</a></li>
            <li><a>Paper</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="share-links">
      <ul class="share unstyled">
        {% for title, link in SOCIAL %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
