<header class="header-has-logo">
  <div class="container cf">
    <h1 class="pull-left"><a href="/" class="logo ipfs-logo transition transition-fadeout">IPFS</a></h1>
    <nav role="navigation" class="pull-right top-nav top-nav-dark cf">
      <input id="menu-toggle" type="checkbox" class="menu-toggle">
      <label for="menu-toggle">Menu</label>
      <ul class="list-unstyled list-inline cf">
        <li><a href="/" {% if page and page.save_as == 'index.html' %}class="current-item"{% endif %}>Uses</a></li>
        <li><a href="/docs" {% if page and page.category.name == 'docs' %}class="current-item"{% endif %}>Docs</a></li>
        <li><a href="/how-it-works" {% if page and page.slug == 'how-it-works' %}class="current-item"{% endif %}>How It Works</a></li>
        <li><a href="/blog" {% if article or (page_name == 'blog') %}class="current-item"{% endif %}>Blog</a></li>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="current-item"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="current-item"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
      </ul>
    </nav>
    {% block hero %}{% endblock hero %}
  </div>
  {% if page %}
    <div class="hero">
      <h2 class="headline-main {% if page.headlineclass %}{{ page.headlineclass }}{% else %}home{% endif %}">{{ page.headlinetext }}</h2>
      {% if page.subheadtext %}
        <span class="divider"></span>
        <h3 class="subhead-main">{{ page.subheadtext }}</h3>
      {% endif %}
    </div>
  {% endif %}
  <div class="view-more">
    <label>View more</label><a href="#"></a>
  </div>
</header>
