<section id="latest">
  <h2 class="content-center mb2">The Latest</h2>
  <div class="grid-flex-container">
    <div class="grid-flex-cell">
      <h5>IPFS Starlog</h5>
      {% set recent = articles if not all_articles else all_articles %}
      <ol class="latest-list list-unstyled">
        {% for a in recent %}
          {% if loop.index <= 4 %}
            <li><span class="date">{{ a.date|strftime('%d %B %Y') }}</span> <a href="{{ SITEURL }}{{ SITEPATH }}/{{ a.url }}">{{ a.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    <div class="grid-flex-cell">
      <h5>Coverage</h5>
      <ol class="latest-list list-unstyled">
        <li><span class="publication">TechCrunch</span> <a href="http://techcrunch.com/2015/10/04/why-the-internet-needs-ipfs-before-its-too-late/">Why The Internet Needs IPFS Before It’s Too Late</a></li>
        <li><span class="publication">Motherboard</span> <a href="http://motherboard.vice.com/read/the-interplanetary-file-system-wants-to-create-a-permanent-web">IPFS Wants to Create a Permanent Web</a></li>
        <li><span class="publication">MakeUseOf</span> <a href="http://www.makeuseof.com/tag/goodbye-http-faster-safer-decentralized-internet-ipfs/">Faster, Safer, Decentralized Internet With IPFS</a></li>
      </ol>
    </div>
    <div class="grid-flex-cell grid-flex-cell-1of2">
      <h5>Videos</h5>
      <ul class="latest-videos list-unstyled cf">
        <li id="modal-nofooter">
          <a class="popup-youtube video-thumb" href="https://www.youtube.com/watch?v=8CMxDNuuAiQ">
            <img src="{{ SITEURL }}{{ SITEPATH }}/theme/images/video-still-demo.png" />
          </a>
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=8CMxDNuuAiQ">IPFS Demo</a>
        </li>
        <li>
          <a class="popup-youtube video-thumb" href="https://www.youtube.com/watch?v=HUVmypx9HGI">
            <img src="{{ SITEURL }}{{ SITEPATH }}/theme/images/video-still-stanford-seminar.png" />
          </a>
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=HUVmypx9HGI">The Distributed, Permanent Web</a>
        </li>
      </ul>
    </div>
  </div>
  <h4 class="content-center">Keep up with IPFS by <a href="https://tinyletter.com/ipfsnewsletter">joining our newsletter »</a></h4>
</section>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="https://ipfs.io/ipfs/QmSb8577TaDYTN2Zo1bZ43PCUYfEneM2REuWZsDGtURLDn/"></script>
<script src="{{ SITEURL }}{{ SITEPATH }}/theme/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.popup-youtube').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,
      fixedContentPos: false
    });
  });
</script>
