{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block hero %}
  {% if page.pagetype == 'home' %}
    <div class="hero hero-home">
      <h2 class="headline-main">A peer-to-peer protocol<br/> for the permanent web</h2>
      <span class="divider"></span>
      <h3 class="subhead-main">IPFS powers distributed systems<br/> for the interstellar generation</h3>
      <div class="cta">
        <a class='button button-outlined' href='/try'>★ Try it</a>
        <a class='button button-outlined' href='/docs/install'>▼ Install</a>
        <a class='button button-outlined' href='/media/demo'>▶ Demo</a>
      </div>
    </div>
  {% else %}
    <div class="hero {% if page.pagetype %}hero-{{ page.pagetype }}{% endif %}">
      {% if page.title %}
        <h2 class="headline-main {% if page.headlineclass %}{{ page.headlineclass }}{% endif %}">{{ page.title }}</h2>
      {% endif %}
      {% if page.constellation %}
        <img src="{{ SITEURL}}/theme/images/{{ page.constellation }}" class="constellation"/>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{% block content %}
    {% if page.category.name == 'docs' %}
      <ul>
        <li><a href="{{ SITEURL}}{{ SITEPATH }}/docs" {% if page.slug == 'docs' %}class="current-item"{% endif %}>Documentation</a></li>
        <li><a href="{{ SITEURL}}{{ SITEPATH }}/docs/install" {% if page.slug == 'install' %}class="current-item"{% endif %}>Install</a></li>
        <li><a href="{{ SITEURL}}{{ SITEPATH }}/docs/getting-started" {% if page.slug == 'getting-started' %}class="current-item"{% endif %}>Getting Started</a></li>
        <li><a href="{{ SITEURL}}{{ SITEPATH }}/docs/api" {% if page.slug == 'api' %}class="current-item"{% endif %}>API</a></li>
        <li><a href="{{ SITEURL}}{{ SITEPATH }}/docs/commands" {% if page.slug == 'commands' %}class="current-item"{% endif %}>Commands</a></li>
        <li><a href="{{ SITEURL}}{{ SITEPATH }}/docs/examples" {% if page.slug == 'examples' %}class="current-item"{% endif %}>Examples</a></li>
        <li><a href="{{ SITEURL}}{{ SITEPATH }}/docs/specs" {% if page.slug == 'specs' %}class="current-item"{% endif %}>Specs</a></li>
      </ul>
    {% endif %}

    {{ page.content }}
{% endblock %}
