/*--------------------------------------------------------------------
*
* ipfs.io
*
--------------------------------------------------------------------*/


@import 'yeticss'

@import 'globals/_logos'
@import 'globals/_variables'

@import 'base'

@import 'components/typography'
@import 'components/navigation'
@import 'components/header'
@import 'components/footer'

@import 'pages/home'