/*--------------------------------------------------------------------
*
* ipfs.io
*
--------------------------------------------------------------------*/


@import 'yeticss'

@import 'globals/_logos'
@import 'globals/_variables'
@import 'globals/_helpers'

@import 'base'

@import 'components/typography'
@import 'components/navigation'
@import 'components/header'
@import 'components/footer'
@import 'components/buttons'
@import 'components/section'

@import 'pages/home'
