---
baseurl: .
site: ipfs
title: IPFS is a new peer-to-peer hypermedia protocol.
---

{% extends "tmpl/layouts/ipfs.html" %}


{% set splashcaret = true %}
{% block splash %}
<div style="padding: 100px 0px 30px;">
<img src="./styles/img/ipfs-logo-white.png" style="max-width: 100%;" />
<br /><div class="ipw-tagline">
  <br />IPFS is The Permanent Web
  <br />A new peer-to-peer hypermedia protocol
  <br />
  <br />
    <a href="#alpha-demo" class="btn btn-default btn-outline"><i class="fa fa-play"></i> &nbsp; Watch Demo</a>
    <a href="./docs/install" class="btn btn-default btn-outline"><i class="fa fa-download"></i> &nbsp; Install IPFS</a>
  </div>
</div>
{% endblock %}

{% block content %}

{% set pgns = 'about' %}
{% include "tmpl/partials/pagenav.html" %}


<div class="row">
<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="font-family: Oxygen;">
{% markdown %}

# The IPFS Project

The InterPlanetary File System (IPFS) is a new hypermedia distribution protocol, addressed by content and
identities. IPFS enables the creation of completely distributed applications.
It aims to make the web faster, safer, and more open.

IPFS is an open source project developed by the [IPFS Community](http://ipfs.io) and many contributors
from the open source community.

<iframe id="stars" src="https://ghbtns.com/github-btn.html?user=ipfs&repo=ipfs&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="152px" height="30px"></iframe>

## How it works

IPFS is a peer-to-peer distributed
file system that seeks to connect all computing devices
with the same system of files. In some ways, IPFS
is similar to the Web, but IPFS could be seen as a single
BitTorrent swarm, exchanging objects within one Git
repository. In other words, IPFS provides a high throughput
content-addressed block storage model, with content-addressed
hyperlinks. This forms a generalized Merkle
DAG, a data structure upon which one can build versioned
file systems, blockchains, and even a Permanent Web. IPFS
combines a distributed hashtable, an incentivized block exchange,
and a self-certifying namespace. IPFS has no single
point of failure, and nodes do not need to trust each other.

<div class="text-center" style="margin-top: 30px">
<a class="btn btn-default btn-lg" href="#alpha-demo" role="button">
  <i class="fa fa-play"></i> &nbsp; Watch the Demo
</a> &nbsp;
<a class="btn btn-default btn-lg" href="https://github.com/ipfs/papers/raw/master/ipfs-cap2pfs/ipfs-p2p-file-system.pdf" role="button">
  <i class="fa fa-file-o"></i> &nbsp; Read the Paper
</a> &nbsp;
<a class="btn btn-success btn-lg" href="./docs/install" role="button">
  <i class="fa fa-download"></i> &nbsp; Install IPFS
</a>
</div>

{% endmarkdown %}
</div>
</div>

<hr class="ipw-spacer" />
<div class="row" style="background-color: rgba(33, 52, 105, 0.04);" id="alpha-demo">
<hr class="ipw-spacer" />
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="text-align: center; font-family: Oxygen;">
    <div style="font-size: 32px;">
      IPFS Alpha Demo
    </div>

    <br />

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8CMxDNuuAiQ" width="900" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <br />
    <br />
    <br />
    <a class="btn btn-success btn-lg" href="docs/install" role="button">
      Install IPFS Alpha &nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
    </a>
    <hr class="ipw-spacer" />
    <br />
  </div>
</div>
<hr class="ipw-spacer" />


<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="text-align: center; font-family: Oxygen;">
    <div style="font-size: 32px;">The Distributed, Permanent Web - Stanford Seminar</div>
    <div>October 21, 2015</div>

    <br />
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HUVmypx9HGI" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<!-- ipfs-mirror-note -->

{% endblock %}
