footer.footer-primary(role='contentinfo')
  .container.cf

    .sitemap-menu.cf
      .grid-flex-container
        .grid-flex-cell
          ul.sitemap.unstyled
            li.sitemap-head Protocol Labs
            li: a About
            li: a Contact
            li: a Join
        .grid-flex-cell
          ul.sitemap.unstyled
            li.sitemap-head IPFS
            li: a About
            li: a Install
            li: a Docs
            li: a Code
            li: a Community
            li: a Blog
            li: a Legal
        .grid-flex-cell
          ul.sitemap.unstyled
            li.sitemap-head Filecoin
            li: a About
            li: a Paper
    .share-links
      ul.share.unstyled
        li: a Twitter
        li: a Facebook
        li: a Google+