doctype html
html(lang='en')

  block vars

  head

    meta(charset='utf-8')

    block title
      title IPFS

    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='description', content='#{pageDescription}')
    meta(name='keywords', content='')
    meta(name='author', content='')

    link(rel='stylesheet', href='/theme/css/main.css')

    script(src='//use.typekit.net/qbm6mtp.js')
    script.
      try{Typekit.load({async:true});}catch(e){}

  body

    include _header.jade

    block content

    include _footer.jade
