block vars
  - var pageDescription = ''
  - var headlineClass = 'docs'
  - var headlineText = 'Docs'
  - var subheadText = ''

extends ./_layout.jade

block title
  title Docs

block content
  .container
    .section
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat semper lorem ac hendrerit. Pellentesque aliquam aliquam ullamcorper. Phasellus posuere facilisis tincidunt. Cras tempus est orci, ut fermentum urna auctor eu. Vivamus dignissim lectus vestibulum leo convallis, nec porttitor arcu mattis. Phasellus sed nunc eget neque commodo finibus quis vitae leo. Sed pharetra lorem at sapien gravida, in eleifend augue tempor.

      p Nulla facilisi. Mauris ut massa in quam viverra vulputate eu et turpis. Ut ut faucibus dui. Mauris velit lacus, posuere vitae nisi sed, ullamcorper tempor quam. Nunc ligula risus, sollicitudin a massa at, commodo mollis turpis. Donec at diam at massa ornare finibus sed eu tortor. Nullam ut convallis turpis.