<footer role="contentinfo" class="footer-primary">
  <div class="container cf">
    <div class="cf">
      <div class="sitemap-menu grid-flex-container">
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">Protocol Labs</li>
            <li><a href="https://protocol.ai">About</a></li>
            <li><a href="https://protocol.ai/join">Join</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">IPFS</li>
            <li><a href="/#install">Install</a></li>
            <li><a href="https://github.com/ipfs/ipfs">GitHub</a></li>
            <li><a href="https://github.com/ipfs/community/blob/master/code-of-conduct.md">Code of Conduct</a></li>
            <li><a href="https://docs.ipfs.io/">Docs</a></li>
            <li><a href="https://docs.ipfs.io/community/">Community</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="https://awesome.ipfs.io/">Awesome IPFS</a></li>
            <li><a href="https://cluster.ipfs.io/">IPFS Cluster</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/media">Press</a></li>
            <li><a href="//blog.ipfs.io/">Blog</a></li>
            <li><a href="/legal/">Legal</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">ProtoSchool</li>
            <li><a href="https://proto.school/course/ipfs">Tutorials</a></li>
            <li><a href="https://proto.school/events">Events</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap unstyled">
            <li class="sitemap-head">Filecoin</li>
            <li><a href="https://filecoin.io/">About</a></li>
            <li><a href="https://filecoin.io/faqs/">FAQ</a></li>
          </ul>
            <ul class="sitemap unstyled">
              <li class="sitemap-head" style="padding-top: 30px;">Other Projects</li>
              <li><a href="https://libp2p.io/">libp2p</a></li>
              <li><a href="https://ipld.io/">IPLD</a></li>
              <li><a href="https://drand.love/">Drand</a></li>
              <li><a href="https://multiformats.io/">Multiformats</a></li>
              <li><a href="http://testground.ai/">Testground</a></li>
            </ul>
        </div>
      </div>
      <div class="share-links">
        <ul class="share unstyled">
          {{ range .Site.Params.social }}
            <li><a class="{{ .title }}" href="{{ .link }}">{{ .title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <p class="footer-copyright center">© Protocol Labs | Except as <a href="https://protocol.ai/legal/">noted</a>, content licensed <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0.</a></p>
  </div>
</footer>
