<section id="get-started">
  <div class="container">
    <div class="content-center mb2">
      <h2>What do you want to do with IPFS?</h2>
      <h5>Get started now, with these helpful resources.</h5>
    </div>
    <div class="options">
      <div class="option-blocks">
        <div class="option-block">
          <input type="checkbox" id="ocb1" name="ocb" />
          <label class="option-label" for="ocb1">
            <div>
              <h4>Publish and share your files</h4>
            </div>
          </label>
          <div class="option-content">
            <div class="with-padding">
              <h5>Publish files on the Internet without worrying if they will be tampered with, and share them with
                others.</h5>
            </div>
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    <a href="https://proto.school/#/mutable-file-system/">Discover
                      how to work with IPFS files and directories</a>
                    in an interactive ProtoSchool tutorial
                  </li>
                  <li>
                    <a href="https://docs.ipfs.io/guides/concepts/pinning/">Ensure your data is stored permanently</a>
                    by learning more about "pinning" on IPFS
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    <a href="https://cluster.ipfs.io/">Explore how to flexibly scale data storage</a>
                    using IPFS Cluster
                  </li>

                  <li>
                    <a href="https://github.com/ipfs-shipyard/ipfs-desktop">Install the IPFS desktop app</a>
                    to quickly and easily share files from your own computer &mdash; no command line required
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="checkbox" id="ocb2" name="ocb" />
          <label class="option-label" for="ocb2">
            <div>
              <h4>Manage large amounts of data</h4>
            </div>
          </label>
          <div class="option-content">
            <div class="with-padding">
              <h5>Store and work with large data sets without relying on a single centralized host.</h5>
            </div>
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    <a href="https://flyingzumwalt.gitbooks.io/decentralized-web-primer/">
                      Learn the key principles</a> of how IPFS and the
                    decentralized web can help solve problems in big-data stewardship
                  </li>
                  <li>
                    <a href="https://cluster.ipfs.io/">See how to create scalable data storage</a>
                    distributed among collaborators, researchers, or businesses using IPFS Cluster
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    <a href="https://awesome.ipfs.io/datasets/">Check out other large data sets</a>
                    on IPFS and get inspired
                  </li>
                  <li>
                    <a href="https://cluster.ipfs.io/download/">Install IPFS Cluster</a>
                    and get started storing large data sets across multiple IPFS nodes
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="checkbox" id="ocb3" name="ocb" />
          <label class="option-label" for="ocb3">
            <div>
              <h4>Build an app or service</h4>
            </div>
          </label>
          <div class="option-content">
            <div class="with-padding">
              <h5>Use IPFS in your application or service to build amazing things on the decentralized web.</h5>
            </div>
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    <a href="https://docs.ipfs.io/">Visit the documentation</a> to
                    help get you started building on IPFS right away
                  </li>
                  <li>
                    <a href="https://proto.school">Explore interactive
                      tutorials</a> for IPFS APIs and much more at ProtoSchool
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    <a href="https://awesome.ipfs.io/apps/">Check out other apps built on IPFS</a>
                    and get inspired
                  </li>
                  <li>
                    <a href="https://docs.ipfs.io/guides/guides/install/">Install IPFS using your favorite option</a>
                    &mdash; a prebuilt package, ipfs-update, or from source
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="checkbox" id="ocb4" name="ocb" />
          <label class="option-label" for="ocb4">
            <div>
              <h4>Something else</h4>
            </div>
          </label>
          <div class="option-content">
            <div class="with-padding">
              <h5>Don't see your goal here? The IPFS open-source community is here to help you get on your way.</h5>
            </div>
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    <a href="https://discuss.ipfs.io/c/help">Join the conversation
                      in the IPFS forums</a> to get advice, help, and feedback from IPFS developers and power users
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of2">
                <ul>
                  <li>
                    Want an IPFS overview? <a href="https://docs.ipfs.io/introduction/overview/">Read the
                      guide</a>
                  </li>
                  <li>
                    Just want to install IPFS? <a href="#implementations">Download here</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>