<section id="get-started">
  <div class="container">
    <h2 class="content-center">Get started</h2>
    <p class="content-center">
      Find helpful documentation, instructive videos, and other resources
    </p>
    <div class="options">
      <div class="option-blocks">
        <div class="option-block">
          <input type="checkbox" id="ocb1" name="ocb" />
          <label class="option-label" for="ocb1">
            <div>
              <h4>Learn about the distributed web</h4>
              <p>
                Dig into the concepts that make IPFS work – or try it out
                yourself
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a href="https://github.com/ipfs-shipyard/ipfs-companion"
                      >Install IPFS Companion</a
                    >
                    for your browser to use the distributed web while you surf
                  </li>
                  <li>
                    <a href="https://github.com/ipfs-shipyard/ipfs-desktop"
                      >Download IPFS Desktop</a
                    >
                    to start hosting files on your own computer via IPFS
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a href="https://docs.ipfs.io/introduction/overview/"
                      >Read the IPFS explainer</a
                    >
                    for IPFS in a nutshell, plus helpful resources
                  </li>
                  <li>
                    <a href="https://proto.school">Visit ProtoSchool</a>
                    for interactive tutorials about distributed web concepts
                  </li>
                </ul>
              </div>

              <div class="grid-flex-cell-1of3">
                <p>
                  <a href="https://www.youtube.com/watch?v=2RCwZDRwk48"
                    ><img
                      src="https://img.youtube.com/vi/2RCwZDRwk48/mqdefault.jpg"
                  /></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="checkbox" id="ocb2" name="ocb" />
          <label class="option-label" for="ocb2">
            <div>
              <h4>Store and share my files</h4>
              <p>
                Store files on the internet without worrying if they will be
                tampered with, and share them with others
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a href="https://github.com/ipfs-shipyard/ipfs-desktop"
                      >Download IPFS Desktop</a
                    >
                    to quickly and easily share files from your own computer
                  </li>
                  <li>
                    <a href="https://docs.ipfs.io/guides/concepts/pinning/"
                      >Learn about pinning</a
                    >
                    and how it can help ensure data is stored permanently
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a href="https://cluster.ipfs.io/">Explore IPFS Cluster</a>
                    for storing large amounts of data on a scalable number of
                    peers
                  </li>
                  <li>
                    <a href="https://proto.school/#/mutable-file-system/"
                      >Try an interactive ProtoSchool tutorial</a
                    >
                    to learn how to work with IPFS files and directories as if
                    you were using a traditional name-based file system
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of3"></div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="checkbox" id="ocb3" name="ocb" />
          <label class="option-label" for="ocb3">
            <div>
              <h4>Manage large amounts of data</h4>
              <p>
                Store and work with large data sets without relying on a single
                centralized host
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a
                      href="https://flyingzumwalt.gitbooks.io/decentralized-web-primer/"
                      >Read the Decentralized Web Primer for Data Stewardship</a
                    >
                    for the basics on how the decentralized web can help solve
                    problems inherent to large data sets
                  </li>
                  <li>
                    <a href="https://cluster.ipfs.io/">Explore IPFS Cluster</a>
                    and see how it can help you create scalable data storage
                    distributed among collaborators, researchers or businesses
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a href="https://awesome.ipfs.io/datasets/"
                      >See other large data</a
                    >
                    sets on IPFS and get inspired
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of3"></div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="checkbox" id="ocb4" name="ocb" />
          <label class="option-label" for="ocb4">
            <div>
              <h4>Develop an IPFS application</h4>
              <p>
                Use IPFS in your application or service to build amazing things
                on the decentralized web
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a href="https://docs.ipfs.io/guides/guides/install/"
                      >Install IPFS on your computer</a
                    >
                    if you haven't already
                  </li>
                  <li>
                    <a href="https://docs.ipfs.io/">Read the IPFS docs</a> to
                    get started building on IPFS
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of3">
                <ul>
                  <li>
                    <a href="https://proto.school">Visit ProtoSchool</a> to
                    explore IPFS APIs using interactive tutorials
                  </li>
                  <li>
                    <a href="https://awesome.ipfs.io/apps/"
                      >See other apps built on IPFS</a
                    >
                    and get inspired
                  </li>
                </ul>
              </div>
              <div class="grid-flex-cell-1of3"></div>
            </div>
          </div>
        </div>
        <div class="option-block option-block--other">
          <input type="checkbox" id="ocb5" name="ocb" />
          <label class="option-label" for="ocb5">
            <div>
              <h5>Something else not listed here?</h5>
            </div>
          </label>
          <div class="option-content">
            <div>
              <form>
                <fieldset>
                  <legend>Feedback</legend>

                  <div class="form-element">
                    <label for="comment"
                      >What are you trying to achieve with IPFS?</label
                    >
                    <textarea
                      id="comment"
                      class="form-input"
                      placeholder="Placeholder"
                    ></textarea>
                  </div>

                  <button type="submit" class="button button-primary">
                    Send
                  </button>
                </fieldset>
              </form>
              <p>
                Just want to install IPFS?
                <a href="https://docs.ipfs.io/guides/guides/install/"
                  >See your options</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="option-block option-block--other">
        <p>Just want to install IPFS? <a href="#">See your options</a></p>
      </div> -->
    </div>
  </div>
</section>
