<section id="get-started">
  <div class="container">
    <h2 class="content-center">Get Started</h2>
    <p class="content-center">
      Find helpful documentation, instructive videos, and other resources
    </p>
    <div class="options">
      <div class="option-blocks">
        <div class="option-block">
          <input type="radio" id="rd1" name="rd" />
          <label class="option-label" for="rd1">
            <div>
              <h3>Learn about the distributed web</h3>
              <p>
                Dig into the concepts that make IPFS work – or try it out
                yourself
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="radio" id="rd2" name="rd" />
          <label class="option-label" for="rd2">
            <div>
              <h3>Store and share my files</h3>
              <p>
                Store files on the internet without worrying if they will be
                tampered with, and share them with others
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="radio" id="rd3" name="rd" />
          <label class="option-label" for="rd3">
            <div>
              <h3>Manage large amounts of data</h3>
              <p>
                Store and work with large data sets without relying on a single
                centralized host
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block">
          <input type="radio" id="rd4" name="rd" />
          <label class="option-label" for="rd4">
            <div>
              <h3>Develop an IPFS application</h3>
              <p>
                Use IPFS in your application or service to build amazing things
                on the decentralized web
              </p>
            </div>
          </label>
          <div class="option-content">
            <div class="grid-flex-container">
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
              <div class="grid-flex-cell-1of3">
                <p>1/3</p>
              </div>
            </div>
          </div>
        </div>
        <div class="option-block option-block--other">
          <input type="radio" id="rd5" name="rd" />
          <label class="option-label" for="rd5">
            <div>
              <h5>Something else not listed here?</h5>
            </div>
          </label>
          <div class="option-content">
            <div>
              <form>
                <fieldset>
                  <legend>Feedback</legend>

                  <div class="form-element">
                    <label for="comment"
                      >What are you trying to achieve with IPFS?</label
                    >
                    <textarea
                      id="comment"
                      class="form-input"
                      placeholder="Placeholder"
                    ></textarea>
                  </div>

                  <button type="submit" class="button button-primary">
                    Send
                  </button>
                </fieldset>
              </form>
              <p>
                Just want to install IPFS?
                <a href="https://docs.ipfs.io/guides/guides/install/"
                  >See your options</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="option-block option-block--other">
        <p>Just want to install IPFS? <a href="#">See your options</a></p>
      </div> -->
    </div>
  </div>
</section>
