<header class="header-has-logo" {{ if eq .page.Params.pagetype "subdoc"}}{{ else }} id="stars" {{ end }}>
  <div class="container cf">
    <h1 class="pull-left">
      <a href="/" class="logo ipfs-logo transition transition-fadeout">IPFS</a>
    </h1>
    <nav role="navigation" class="pull-right top-nav top-nav-dark cf">
      <input id="menu-toggle" type="checkbox" class="menu-toggle">
      <label for="menu-toggle" tabindex="0" class="menu-toggle-acc"></label>
      <ul class="list-unstyled list-inline cf">
        <li><a href="/#why">About</a></li>
        <li><a href="/#install">Install</a></li>
        <li><a href="//docs.ipfs.io/"
            {{ if and (eq .page.Type "docs") (not (eq .page.Params.pagename "install")) }}class="current-item"
            {{ end }}>Docs</a></li>
        <li><a href="/team" {{ if eq .page.Type "team" }}class="current-item" {{ end }}>Team</a></li>
        <li><a href="//blog.ipfs.io/"
            {{ if or (eq .page.Type "blog") (eq .page.Data.Singular "author") }}class="current-item" {{ end }}>Blog</a>
        </li>
        <li><a href="/help">Help</a></li>
      </ul>
    </nav>
    {{ if eq .hero "homepage" }}
    <div class="hero hero-home">
      <div class="hero-text">
        <h2 class="headline-main">IPFS powers the Distributed Web</h2>
        <span class="divider"></span>
        <h3 class="subhead-main">A peer-to-peer hypermedia protocol<br /> designed to make the web faster, safer, and
          more open.</h3>
        <div class="cta">
          <a class="button button-primary" href="#get-started">Get started</a>
          <a class="button button-outlined" href="#how">How it works</a>
        </div>
        <div class="hero-callout">
          <div class="hero-callout-image"><img src="/images/05-rocket.svg" /></div>
          <div class="hero-callout-text">
            <h3><strong>It's here! Try go-ipfs 0.5 now</strong></h3>
            <p>Learn all about it in the <a href="https://blog.ipfs.io/2020-04-28-go-ipfs-0-5-0">blog post</a>, check out the <a href="https://docs-beta.ipfs.io/recent-releases/go-ipfs-0-5/">docs</a>, or <a href="https://dist.ipfs.io/#go-ipfs">install go-ipfs 0.5</a>.</p>
          </div>
        </div>
      </div>
    </div>
    {{ else if eq .hero "starlog" }}
    <div class="hero hero-major">
      <h2 class="headline-main">IPFS Starlog</h2>
      <img src="/images/constellation-01.svg" class="constellation" />
    </div>
    {{ else }}
    <div class="hero{{ if isset .page.Params "pagetype" }} hero-{{ .page.Params.pagetype }}{{ end }}">
      {{ if isset .page.Params "constellation" }}
      {{ if isset .page.Params "title" }}
      <h2 class="headline-main">{{ .page.Params.title }}</h2>
      {{ end }}
      <img src="/images/{{ .page.Params.constellation }}" class="constellation" />
      {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="view-more">
    <label>View more</label><a href="#why"></a>
  </div>
  {{ if eq .page.Params.pagetype "subdoc"}}{{ else }}<a class="button" id="toggle-animation">Disable
    animation</a>{{ end }}
</header>
