<section id="implementations">
  <div class="container">

    <h2 class="content-center">Implementations</h2>
    <h3 class="content-center" style="padding-top: 30px;">Apps and extensions</h3>
    <div class="grid-flex-container" style="padding-top: 30px;">
      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs-shipyard/ipfs-desktop" target="_blank">
          <div class="app-ss content-center">
            <img src="/images/ipfs-desktop-ss.png" />
          </div>
          <h5 class="content-center">Desktop app</h5>
          <p>IPFS Desktop is an easy-to-use app that enables you to run an IPFS node on your computer without having to bother with command-line tools.
            Powered by the Web UI.</p>
        </a>
      </div>

      <div class="grid-flex-cell grid-flex-cell-1of2 content-center">
        <a href="https://github.com/ipfs-shipyard/ipfs-companion" target="_blank">
          <div class="app-ss content-center">
            <img src="/images/ipfs-companion-ss.png" />
          </div>
          <h5 class="content-center">Browser extension</h5>
          <p align="left">
            Upgrade your browser with IPFS superpowers! The IPFS Companion extension connects your local IPFS installation with your favorite web browser, enabling you to open ipfs:// URLs and more.
          </p>
        </a>
      </div>
    </div>

    <div class="grid-flex-container" style="padding-top: 30px;">
      <div class="grid-flex-cell grid-flex-cell-1of2 content-center">
        <a href="https://cluster.ipfs.io/" target="_blank">
          <div class="content-center">
            <img src="/images/ipfs-cluster.png" />
          </div>
          <h5 class="content-center">IPFS Cluster</h5>
          <p align="left">Ideal for servers or large datasets, IPFS Cluster automatically allocates, replicates, and tracks your data as pinsets across multiple IPFS nodes. It's both a standalone app and a command-line client.</p>
        </a>
      </div>
    </div>

    <h3 id="integrations-title" class="content-center">Go and JavaScript</h3>
    <div class="grid-flex-container" style="padding-top: 30px;">
      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs/go-ipfs" target="_blank">
          <div id="go-ipfs-logo" class="implementation-logo content-center avatar-rounded">
            <img src="/images/go-ipfs-logo.png" />
          </div>
          <h5 class="content-center">Go implementation</h5>
          <p>go-ipfs is the main implementation of IPFS. It includes a core implementation, a daemon server, command line
            tooling, and more.</p>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://js.ipfs.io" target="_blank">
          <div class="implementation-logo content-center avatar-rounded">
            <img src="/images/js-ipfs-logo.svg" />
          </div>
          <h5 class="content-center">JavaScript implementation</h5>
          <p>js-ipfs paves the way for the browser implementation of IPFS. Written entirely in JavaScript, it
            opens the door to a world of possibilities.</p>
        </a>
      </div>
    </div>

  </div>
</section>
