<section id="implementations">
  <div class="container">
    <h2 class="content-center">Implementations</h2>
    <div class="grid-flex-container">
      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs/go-ipfs" target="_blank">
          <div id="go-ipfs-logo" class="implementation-logo content-center avatar-rounded">
            <img src="/images/go-ipfs-logo.png" />
          </div>
          <h5 class="content-center">Go</h5>
          <p>go-ipfs is the main implementation of IPFS. It includes a core implementation, a daemon server, command line
            tooling and more.</p>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://js.ipfs.io" target="_blank">
          <div class="implementation-logo content-center avatar-rounded">
            <img src="/images/js-ipfs-logo.svg" />
          </div>
          <h5 class="content-center">JavaScript</h5>
          <p>js-ipfs paves the way for the browser implementation of IPFS. Written entirely in JavaScript, it
            opens the door to a world of possibilities.</p>
        </a>
      </div>
    </div>

    <h2 id="integrations-title" class="content-center">Apps</h2>
    <div class="grid-flex-container">
      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs-shipyard/ipfs-desktop" target="_blank">
          <div class="app-ss content-center">
            <img src="/images/ipfs-desktop-ss.png" />
          </div>
          <h5 class="content-center">Desktop App</h5>
          <p>IPFS Desktop allows you to run your IPFS node on your machine without having to bother with command line tools.
            Powered by the Web UI.</p>
        </a>
      </div>

      <div class="grid-flex-cell grid-flex-cell-1of2 content-center">
        <a href="https://github.com/ipfs-shipyard/ipfs-companion" target="_blank">
          <div class="app-ss content-center">
            <img src="/images/ipfs-companion-ss.png" />
          </div>
          <h5 class="content-center">Browser Extension</h5>
          <p align="left">
            Upgrade your browser with IPFS super powers. The IPFS Companion Web Extension connects your local IPFS daemon with your browser, enabling ipfs:// scheme urls and more!
          </p>
        </a>
      </div>
    </div>

    <div class="grid-flex-container" style="padding-top: 30px;">
      <div class="grid-flex-cell grid-flex-cell-1of2 content-center">
        <a href="https://cluster.ipfs.io/" target="_blank">
          <div class="content-center">
            <img src="/images/ipfs-cluster.png" />
          </div>
          <h5 class="content-center">IPFS Cluster</h5>
          <p align="left">Ideal for large-scale datasets or multiple servers, IPFS Cluster allocates, replicates and tracks your data as pinsets across multiple IPFS nodes. It's both a standalone application and a CLI client.</p>
        </a>
      </div>
    </div>
  </div>
</section>
