<section id="install">
  <div class="container">

    <h2 class="content-center">Install IPFS</h2>
    <h5 class="content-center" style="margin-bottom: 60px;">No matter how you  want to use IPFS, there's an install option for you. Unsure which to choose? Start with <a href="https://github.com/ipfs-shipyard/ipfs-desktop" target="_blank"> IPFS Desktop</a>.</h5>

  <div class="grid-flex-container">

      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs-shipyard/ipfs-companion" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/ipfs-companion-hex.png" />
            </div>
            <div class="install-description">
              <h4>Browser extension</h4>
              <h5>
                The IPFS Companion browser extension upgrades your favorite web browser to use IPFS, enabling you to open ipfs:// URLs and more.
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs-shipyard/ipfs-desktop" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/ipfs-desktop-hex.png" />
            </div>
            <div class="install-description">
              <h4>Desktop app</h4>
              <h5>
                IPFS Desktop is an easy-to-use app that enables you to run an IPFS node on your computer without having to bother with command-line tools.
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="http://docs.ipfs.io/guides/guides/install/" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/command-line-hex.png" />
            </div>
            <div class="install-description">
              <h4>Command line</h4>
              <h5>
                Just want to install IPFS from the command line? Here are step-by-step instructions for getting you up and running quickly and easily.
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://cluster.ipfs.io/" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/ipfs-cluster.png" />
            </div>
            <div class="install-description">
              <h4>IPFS Cluster</h4>
              <h5>
                Using IPFS for servers or large datasets? Cluster automatically allocates, replicates, and tracks your data as pinsets across multiple IPFS nodes.
              </h5>
            </div>
          </div>
        </a>
      </div>

    <div class="grid-flex-cell-1of2">
      <a href="https://github.com/ipfs/go-ipfs" target="_blank">
        <div class="install-item">
          <div class="install-item-image">
            <img src="/images/go-ipfs-hex-logo.png" />
          </div>
          <div class="install-description">
            <h4>Go implementation</h4>
            <h5>
              If you build on Go, then go-ipfs — the main IPFS implementation — is for you. It includes a core implementation, daemon server, command line tooling, and more.
            </h5>
          </div>
        </div>
      </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://js.ipfs.io" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/js-ipfs-logo.png" />
            </div>
            <div class="install-description">
              <h4>JavaScript implementation</h4>
              <h5>
                Written entirely in JavaScript, js-ipfs paves the way for the browser implementation of IPFS and opens the door to a world of possibilities.
              </h5>
            </div>
          </div>
        </a>
      </div>

  </div>

  </div>
</section>
