<section id="install">
    <div class="container">
  
      <h2 class="content-center">Install</h2>
      <div class="grid-flex-container">
        <div class="grid-flex-cell-1of2">
            <h3 class="content-center">Quick Start</h3>
                <h5><a href="https://docs.ipfs.io/introduction/install/">Install IPFS on your machine</a></h5>
                <code>ipfs init # create ipfs local config file</code>
                <code>ipfs daemon # start the ipfs deamon process</code>
                <code>ipfs cat # show ipfs object data</code>
                <code>ipfs get # download ipfs objects</code>
                <code>ipfs ls # list links from an object</code>
                <code>ipfs refs # list hashes of links from an object</code>
        </div>      
    </div>
  </section>