<section id="install">
  <div class="container">

    <h2 class="content-center">Install IPFS</h2>
    <h5 class="content-center" style="margin-bottom: 60px;">No matter how you want to use IPFS, there's an install
      option for you. Unsure which to choose? Start with <a href="https://github.com/ipfs-shipyard/ipfs-desktop"
        target="_blank"> IPFS Desktop</a>.</h5>

    <div class="grid-flex-container">
      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs-shipyard/ipfs-desktop" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/ipfs-desktop-hex.png" />
            </div>
            <div class="install-description">
              <h4>Desktop app</h4>
              <p>
                IPFS Desktop is an easy-to-use app that enables you to run an IPFS node on your computer without having
                to
                bother with command-line tools.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://docs-beta.ipfs.io/how-to/command-line-quick-start/#install-ipfs" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/command-line-hex.png" />
            </div>
            <div class="install-description">
              <h4>Command line</h4>
              <p>
                Just want to install IPFS from the command line? Here are step-by-step instructions for getting you up
                and
                running quickly and easily.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs-shipyard/ipfs-companion" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/ipfs-companion-hex.png" />
            </div>
            <div class="install-description">
              <h4>Browser extension</h4>
              <p>
                The IPFS Companion browser extension upgrades your favorite web browser to use IPFS, enabling you to
                open
                ipfs:// URLs and more.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://cluster.ipfs.io/" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/ipfs-cluster.png" />
            </div>
            <div class="install-description">
              <h4>IPFS Cluster</h4>
              <p>
                Using IPFS for servers or large datasets? Cluster automatically allocates, replicates, and tracks your
                data as pinsets across multiple IPFS nodes.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://github.com/ipfs/go-ipfs" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/go-ipfs-hex-logo.png" />
            </div>
            <div class="install-description">
              <h4>Go implementation</h4>
              <p>
                If you build on Go, then the main IPFS implementation is for you. Includes core implementation, daemon server, CLI tooling, and more.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-flex-cell-1of2">
        <a href="https://js.ipfs.io" target="_blank">
          <div class="install-item">
            <div class="install-item-image">
              <img src="/images/js-ipfs-logo.png" />
            </div>
            <div class="install-description">
              <h4>JavaScript implementation</h4>
              <p>
                Written entirely in JavaScript, js-ipfs paves the way for the browser implementation of IPFS and opens
                the
                door to a world of possibilities.
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>
</section>
