<!-- footer -->
<div class="row">
  <div class="ipw-footer col-xs-12">
    <div class="row"> <!-- footer-nav -->
      <hr class="ipw-sectioner" />
      <div class="col-sm-3 ipw-logo">
      </div>
      <div class="col-sm-6 ipw-nav">
        <div class="row">
          <div class="col-xs-4">
            <div class="ipw-nav-col ipw-centered-left">
              <h5>IPN</h5>
              <a href="http://ipn.io">About</a><br />
              <a href="http://ipn.io/contact">Contact</a><br />
              <a href="http://ipn.io/join" style="font-weight: bold;">Join</a><br />
              <!-- <a href="http://ipn.io/legal">Legal</a><br /> -->
            </div>
          </div>
          <div class="col-xs-4">
            <div class="ipw-nav-col ipw-centered-left">
              <h5>IPFS</h5>
              <a href="//ipfs.io">About</a><br />
              <a href="//ipfs.io/docs/install">Install</a><br />
              <a href="//ipfs.io/docs">Docs</a><br />
              <a href="//ipfs.io/docs/#code">Code</a><br />
              <a href="//ipfs.io/docs/#community">Community</a><br />
              <!-- <a href="//ipfs.io/ecosystem">Ecosystem</a><br /> -->
              <!-- <a href="//ipfs.io/roadmap">Roadmap</a><br /> -->
              <a href="//ipfs.io/blog">Blog</a><br />
            </div>
          </div>
          <div class="col-xs-4">
            <div class="ipw-nav-col ipw-centered-left">
              <h5>Filecoin</h5>
              <a href="http://filecoin.io">About</a><br />
              <a href="http://filecoin.io/filecoin.pdf">Paper</a><br />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="center-col ipw-social-media">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://ipfs.io" target="_blank"><i class="fa fa-facebook" tooltip="like us on facebook"></i></a>
          <a href="https://twitter.com/share?text=IPFS, a new hypermedia distribution protocol&hashtags=ipfs&url=https://ipfs.io" target="_blank"><i class="fa fa-twitter" tooltip="tweet us on twitter"></i></a>
          <a href="https://plus.google.com/share?url=https://ipfs.io" target="_blank"><i class="fa fa-google-plus" tooltip="post about us on g+" style="font-weight:bold;"></i></a>
        </div>
      </div>
    </div> <!-- footer-nav -->

    <!-- copyright -->
    <div class="row">
      <hr class="ipw-sectioner" style="margin-bottom: 15px;" />
      <div class="col-xs-12">
        <div class="ipw-copyright">
          &copy; Protocol Labs |

<!--           <a href="http://ipn.io/legal/privacy">Privacy</a> |
          <a href="http://ipn.io/legal/tos">Terms of Service</a> |
 -->
          Except as <a href="http://ipn.io/legal/policies">noted</a>, content licensed <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>.
        </div>
      </div>
    </div>

  </div> <!-- footer -->
</div> <!-- footer row -->
