<!-- footer -->
<div class="row">
  <div class="ipw-footer col-xs-12">
    <div class="row"> <!-- footer-nav -->
      <hr class="ipw-sectioner" />
      <div class="col-sm-3 ipw-logo">
      </div>
      <div class="col-sm-6 ipw-nav">
        <div class="row">
          <div class="col-xs-4">
            <div class="ipw-nav-col ipw-centered-left">
              <h5><span class="i18n">IPN</span></h5>
              <a href="http://ipn.io"><span class="i18n">About</span></a><br />
              <a href="http://ipn.io/contact"><span class="i18n">Contact</span></a><br />
              <a href="http://ipn.io/join" style="font-weight: bold;"><span class="i18n">Join</span></a><br />
              <!-- <a href="http://ipn.io/legal">Legal</a><br /> -->
            </div>
          </div>
          <div class="col-xs-4">
            <div class="ipw-nav-col ipw-centered-left">
              <h5><span class="i18n">IPFS</span></h5>
              <a href="//ipfs.io"><span class="i18n">About</span></a><br />
              <a href="//ipfs.io/docs/install"><span class="i18n">Install</span></a><br />
              <a href="//ipfs.io/docs"><span class="i18n">Docs</span></a><br />
              <a href="//ipfs.io/docs/#code"><span class="i18n">Code</span></a><br />
              <a href="//ipfs.io/docs/#community"><span class="i18n">Community</span></a><br />
              <!-- <a href="//ipfs.io/ecosystem"><span class="i18n">Ecosystem</span></a><br /> -->
              <!-- <a href="//ipfs.io/roadmap"><span class="i18n">Roadmap</span></a><br /> -->
              <a href="//ipfs.io/blog"><span class="i18n">Blog</span></a><br />
            </div>
          </div>
          <div class="col-xs-4">
            <div class="ipw-nav-col ipw-centered-left">
              <h5><span class="i18n">Filecoin</span></h5>
              <a href="http://filecoin.io"><span class="i18n">About</span></a><br />
              <a href="http://filecoin.io/filecoin.pdf"><span class="i18n">Paper</span></a><br />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="center-col ipw-social-media">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://ipfs.io" target="_blank"><i class="fa fa-facebook" tooltip="like us on facebook"></i></a>
          <a href="https://twitter.com/share?text=IPFS, a new hypermedia distribution protocol&hashtags=ipfs&url=https://ipfs.io" target="_blank"><i class="fa fa-twitter" tooltip="tweet us on twitter"></i></a>
          <a href="https://plus.google.com/share?url=https://ipfs.io" target="_blank"><i class="fa fa-google-plus" tooltip="post about us on g+" style="font-weight:bold;"></i></a>
        </div>
      </div>
    </div> <!-- footer-nav -->

    <!-- copyright -->
    <div class="row">
      <hr class="ipw-sectioner" style="margin-bottom: 15px;" />
      <div class="col-xs-12">
        <div class="ipw-copyright">
          &copy; <span class="i18n">Interplanetary Networks, Inc.</span> |

<!--           <a href="http://ipn.io/legal/privacy">Privacy</a> |
          <a href="http://ipn.io/legal/tos">Terms of Service</a> |
 -->
          <span class="i18n">Except as <a href="http://ipn.io/legal/policies">noted</a>, content licensed <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>.</span>
        </div>
      </div>
    </div>

  </div> <!-- footer -->
</div> <!-- footer row -->
