
<style type="text/css">

.ipw-page-nav {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.ipw-page-nav .nav > li.active > a,
.ipw-page-nav .nav > li.active > a:focus,
.ipw-page-nav .nav > li.active > a:hover {
  background-color: transparent;
  border-bottom: #337ab7 2px solid;
  margin-bottom: -1px;
}

.ipw-page-nav .nav > li > a:focus,
.ipw-page-nav .nav > li > a:hover {
  background-color: transparent;
  border-bottom: #cccccc 2px solid;
  margin-bottom: -1px;
}

</style>

{% macro active(a, b) %}
  role="presentation"
  foo="{{a}}"
  bar="{{b}}"
  {% if a == b %}
  class="active"
  {% endif %}
{% endmacro %}

<!-- page nav -->
<div class="row ipw-page-nav">
  <div class="col-xs-12 col-md-8 col-md-offset-2" style="text-align: center;">
    <ul class="nav nav-justified">
      <li {{ active(pgns, 'about') }}><a href="{{ baseurl }}/">About</a></li>
      <li {{ active(pgns, 'install') }}><a href="{{ baseurl }}/docs/install">Install</a></li>
      <li {{ active(pgns, 'examples') }}><a href="{{ baseurl }}/docs/examples">Examples</a></li>
      <li {{ active(pgns, 'docs') }}><a href="{{ baseurl }}/docs">Project</a></li>
      <li {{ active(pgns, 'blog') }}><a href="{{ baseurl }}/blog">Blog</a></li>
      <li {{ active(pgns, 'news') }}><a href="{{ baseurl }}/docs/news">News</a></li>

      <!-- <li {{ active(pgns, 'ecosystem') }}><a href="{{ baseurl }}/docs/ecosystem">Ecosystem</a></li> -->
      <!-- <li {{ active(pgns, 'roadmap') }}><a href="{{ baseurl }}/docs/roadmap">Roadmap</a></li> -->
    </ul>
  </div>
</div>
